.login-body{
	background-image: url('../imgs/login_bg.jpg');
	background-size: 100% 100%;
	background-repeat:no-repeat;
}

.main-div{
	border:1px;
	border:5e5e5e;
	border-bottom-style:Solid;
}

.login-form	{
	width:350px;
	height:20%;
	margin-top: 15%;
    margin-bottom:15%;
    margin-left: 55%;
	background: #000000;
	border: 1px solid #ebebeb;
	padding-left: 25px;
    padding-bottom: 25px;
	padding-right:25px;
	padding-top:25px;
	box-shadow: #000000 0px -4px 30px 4px;
	border-radius: 2%;
	border-color:#214154;
    margin-right: 11%;
}

.heading	{
	text-align:center;
	font-family:Segoe UI;
	font-size:24px;
	font-weight:Bolder;
	color:#00a3cc;	
}

.messageDisplay {
	text-align:center;
	font-family:Segoe UI;
	font-size:16px;
	font-weight:normal;
	color:#ffffff;
}

.heading1	{
	text-align:left;
	font-family:Segoe UI;
	font-size:20px;
	font-weight:Bold;
	color:#ffffff;		
}

.login-hr	{
	margin:2px;
	background-color:#b0b0b0;
	height: 1px;
	border:0px;
}
.label	{
	text-align:left;
	font-family:Segoe UI;
	font-size:16px;
	font-weight:normal;
	color:#ffffff;
}

.login-checkbox	{
	position:relative;
	left:50%;
}

.label-remember	{
	position:relative;
	left:52%;
	font-family:Segoe UI;
	font-size:13px;
	font-weight:normal;
	color:#ffffff;
	padding-bottom:2px;
}

.input-box	{
	font-family:Segoe UI;
	font-size:14px;
	font-weight:Regular;
	color:#343434;
	width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-button	{
	position:relative;
	left:68%;
    right:0px;
	display:block;
	font-family:Segoe UI;
	font-size:16px;
	font-weight:bold;
	width:27%;
	background:#00a3cc;
	color:#ffffff;
	padding: 6px;
	border:0px;
	margin:5px;
	border-radius: 14px;
	vertical-align: middle;
}

.footer-cls	{
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	margin:2px;
	height:1%;
	background-color:#ffffff;
	padding-top:20px;
	padding-bottom:30px;
	padding-left:10px;
	text-align:left;
	font-family: Arial;
    font-size: 12px;
    font-weight: normal;
	color:#b0b0b0;
	display: block;
}

.logo	{
	position:absolute;
    right:5px;
	width:130px;
    height:35px;
	padding-right:10px;
}
	